<header class="bg-gray-800 text-white p-4">
  <nav class="container mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-xl font-bold">HD Eventos</a>
    <ul class="flex space-x-4">
      <li><a routerLink="/events" class="hover:text-blue-400">Eventos</a></li>


      <ng-container *ngIf="authService.isloggedIn() | async; else notLoggedIn">
        <span>Bem-vindo, {{ (authService.getCurrentUser() | async)?.name }}</span>
        <button (click)="authService.logout()">Sair</button>
      </ng-container>

      <ng-template #notLoggedIn>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Registrar</a>
      </ng-template>

    </ul>
  </nav>
</header>

<main class="min-h-screen">
  <router-outlet></router-outlet>
</main>

<footer class="bg-gray-800 text-white p-4 text-center mt-8">
  <p>&copy; 2025 HD Eventos. Todos os direitos reservados.</p>
</footer>
